<div class="form-row">
    <div class="form-group col-md-6">
        <label for="{{#if prefix}}{{prefix}}{{else}}new{{/if}}Username">{{t 'user_username'}}</label>
        <input type="text" class="form-control admin-input" name="username"
            id="{{#if prefix}}{{prefix}}{{else}}new{{/if}}Username" required
            placeholder="{{t 'user_username_placeholder'}}">
        <small class="form-text text-muted">{{t 'user_username_help'}}</small>
    </div>
    <div class="form-group col-md-6">
        <label for="{{#if prefix}}{{prefix}}{{else}}new{{/if}}DisplayName">{{t 'user_display_name'}}</label>
        <input type="text" class="form-control admin-input" name="displayName"
            id="{{#if prefix}}{{prefix}}{{else}}new{{/if}}DisplayName"
            placeholder="{{t 'user_display_name_placeholder'}}">
    </div>
</div>

<div class="form-group">
    <label>{{t 'user_permissions'}}</label>
    <div class="permission-grid">
        <label class="permission-item">
            <input type="checkbox" name="permission_people" value="1"
                id="{{#if prefix}}{{prefix}}{{else}}new{{/if}}PermissionPeople" checked>
            <span>{{t 'perm_people'}}</span>
        </label>
        <label class="permission-item">
            <input type="checkbox" name="permission_peopleImport" value="1"
                id="{{#if prefix}}{{prefix}}{{else}}new{{/if}}PermissionPeopleImport">
            <span>{{t 'perm_people_import'}}</span>
        </label>
        <label class="permission-item">
            <input type="checkbox" name="permission_slideshow" value="1"
                id="{{#if prefix}}{{prefix}}{{else}}new{{/if}}PermissionSlideshow">
            <span>{{t 'perm_slideshow'}}</span>
        </label>
        <label class="permission-item">
            <input type="checkbox" name="permission_events" value="1"
                id="{{#if prefix}}{{prefix}}{{else}}new{{/if}}PermissionEvents">
            <span>{{t 'perm_events'}}</span>
        </label>
    </div>
</div>

<div class="form-group">
    <label>{{t 'settings_sections_label'}}</label>
    <div class="permission-grid permission-grid-settings">
        <label class="permission-item">
            <input type="checkbox" name="permission_settingsPreview" value="1"
                id="{{#if prefix}}{{prefix}}{{else}}new{{/if}}PermissionSettingsPreview">
            <span>{{t 'perm_settings_preview'}}</span>
        </label>
        <label class="permission-item">
            <input type="checkbox" name="permission_settingsAppearance" value="1"
                id="{{#if prefix}}{{prefix}}{{else}}new{{/if}}PermissionSettingsAppearance">
            <span>{{t 'perm_settings_appearance'}}</span>
        </label>
        <label class="permission-item">
            <input type="checkbox" name="permission_settingsBranding" value="1"
                id="{{#if prefix}}{{prefix}}{{else}}new{{/if}}PermissionSettingsBranding">
            <span>{{t 'perm_settings_branding'}}</span>
        </label>
        <label class="permission-item">
            <input type="checkbox" name="permission_settingsFeatures" value="1"
                id="{{#if prefix}}{{prefix}}{{else}}new{{/if}}PermissionSettingsFeatures">
            <span>{{t 'perm_settings_features'}}</span>
        </label>
        <label class="permission-item">
            <input type="checkbox" name="permission_settingsLanguages" value="1"
                id="{{#if prefix}}{{prefix}}{{else}}new{{/if}}PermissionSettingsLanguages">
            <span>{{t 'perm_settings_languages'}}</span>
        </label>
        <label class="permission-item">
            <input type="checkbox" name="permission_settingsAdminPanel" value="1"
                id="{{#if prefix}}{{prefix}}{{else}}new{{/if}}PermissionSettingsAdminPanel">
            <span>{{t 'perm_settings_admin_panel'}}</span>
        </label>
    </div>
    <small class="form-text text-muted">{{t 'user_permissions_help'}}</small>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <label for="{{#if prefix}}{{prefix}}{{else}}new{{/if}}AdminLanguage">{{t 'admin_language'}}</label>
        <select class="form-control admin-input" name="adminLanguage"
            id="{{#if prefix}}{{prefix}}{{else}}new{{/if}}AdminLanguage">
            <option value="ru">Русский</option>
            <option value="en">English</option>
            <option value="he">עברית</option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label for="{{#if prefix}}{{prefix}}{{else}}new{{/if}}ColorMode">{{t 'color_mode'}}</label>
        <select class="form-control admin-input" name="colorMode"
            id="{{#if prefix}}{{prefix}}{{else}}new{{/if}}ColorMode">
            <option value="dark">{{t 'dark_mode'}}</option>
            <option value="light">{{t 'light_mode'}}</option>
        </select>
    </div>
</div>
