<!DOCTYPE html>
<html lang="{{#if data.language}}{{data.language}}{{else}}ru{{/if}}" dir="{{#if (eq data.language 'he')}}rtl{{else}}ltr{{/if}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{data.title}}</title>
    <link rel="stylesheet" href="/board/assets/memorial.css">
</head>

<body>
    <script>window.data = {{{json data}}};</script>
    <div id="root"></div>
    <script type="module" src="/board/assets/memorial.js"></script>
</body>

</html>
