<div class="master-login-page">
    <div class="master-login-card">
        <div class="master-login-header">
            <span class="master-brand-badge">{{t 'platform_badge'}}</span>
            <h1>{{t 'login_title'}}</h1>
            <p>{{t 'login_subtitle'}}</p>
        </div>
        <div class="master-login-body">
            {{#if error}}
            <div class="master-alert master-alert-danger">{{error}}</div>
            {{/if}}
            <form method="POST" action="/master/login" class="master-form">
                <div class="form-group">
                    <label for="password">{{t 'login_password'}}</label>
                    <input type="password" name="password" id="password" class="form-control master-input" required autocomplete="current-password">
                </div>
                <button type="submit" class="btn master-btn master-btn-primary master-btn-block">{{t 'sign_in'}}</button>
            </form>
        </div>
    </div>
</div>
